{{ article.title }}<br>
{{ article.author }} <br>
<img src="{{ article.image }}" alt="Article Image"><br>
{{ article.category }} <br>
{{ article.body }} <br>
<div class="articleBtns">
  {{update-article article=article update="update"}}
  <button class="secondaryBtn" {{action 'delete' article}}>Delete Article</button>
</div>
<hr>
