<!-- {{#if createFormShowing}}
  <form class="createArticleForm">
    <div class="form-group">
      <label for="title">Article Title</label>
      {{input value=title id="title"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      {{input value=category id="category"}}
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{input value=body id="body"}}
    </div>
    <button {{action 'createFormSubmit'}}>Create Article</button>
  </form>
  <button {{action 'toggleForm'}}>Cancel</button>
{{else}}
  <button {{action 'toggleForm'}} {{action 'toggleDetail'}}>Create Article</button>
{{/if}} -->

{{#liquid-if showDetail class='fade-demo'}}
<div class="createArticleSection">
  <h2>Add New Article</h2>
  <form class="createArticleForm">
    <div class="form-group">
      <label for="title">Article Title</label>
      {{input value=title id="title"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      {{input value=category id="category"}}
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{input value=body id="body"}}
    </div>
    <button {{action 'createFormSubmit'}}>Create Article</button>
  </form>
  <button class="secondaryBtn"{{action 'toggleDetail'}}>Cancel</button>
</div>
{{else}}
  <div class="createArticleSection">
    <button {{action 'toggleDetail'}}>Add New Article</button>
  </div>
{{/liquid-if}}
